@use '../foundation/colors';

.navbar {
  max-width: 80rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  padding: 33px 0;
  .logo {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: colors.$black;
    margin-left: 40px;
  }
  .nav-list {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      line-height: 33px;
      li {
        display: inline;
        margin-right: 40px;
        color: colors.$black;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

// .nav-links {
//   text-decoration: none;
// }

a {
  color: inherit;
  text-decoration: inherit;
}
