.introduction {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin-bottom: 85px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  .info-container {
    padding-left: 2.5rem;
    .hey {
      margin-bottom: 1rem;
      color: $gray-400;
    }
    .name {
      color: $gray-500;
      margin-bottom: 3.5rem;
      > :first-child {
        display: block;
      }
      > :last-child {
        display: block;
      }
    }
    .desc {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    .social {
      display: flex;
      align-items: center;
      margin-bottom: 2.75rem;

      > * {
        margin-right: 30px;
        height: 32px;
        display: inline-block;
        cursor: pointer;
      }
      > :first-child {
        color: $gray-400;
        cursor: default;
      }
    }
    .intro-btn {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
