// Typography
@use 'foundation/typography';

// Colors
@use 'foundation/colors';

// Classes
@use 'foundation/classes';

// Layout
@use 'layout/navbar';

// Content
@use 'content/intro';

// mail modal
@use 'content/mailModal';

// Reset
body {
  margin: 0;
  padding: 0;
  font-family: typography.$font-family;
}

.container {
  max-width: 80rem;
  width: 100%;
  background-color: colors.$white;
  margin: auto;
  padding-top: 200px;
}
