// Typography
@import './foundation/typography';

// Colors
@import './foundation/colors';

// Classes
@import './foundation/classes';

// Layout
@import './layout/navbar';

// Content
@import './content/intro';

// mail modal
@import './content/mailModal';

// Reset
body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

.container {
  max-width: 80rem;
  width: 100%;
  background-color: $white;
  margin: auto;
  padding-top: 200px;
}
